* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(194, 194, 194);
}

#todo {
    display: flex;
    align-items: start;
    flex-direction: column;
    
}

#count {
    display: inline-block;
    padding: 5px 25px;
    margin: 5px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0056b3;
    border: none;
    border-radius: 4px;
}

.todoCards {
    display: flex;
    flex-direction: row;
    
}

.todoCard {
    position: relative;
}

.delBtn {
    position: absolute;
    right: 5px;  
    top: 209px;    
    cursor: pointer; 
}

#btn {
    cursor: pointer;
    padding: 0px 55.4px;
}

.todoCards textarea {
    resize: none;
    background-color: #fff;
}

